* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: white;
}

.navbar {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 40px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding-top: 10px;
}

.navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar_links {
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin: 0 1rem;
  height: 40px;
  font-weight: 400;
  font-size: 80%;
  line-height: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-right: 10px;
}

.navbar_btn {
  height: auto;
  position: relative;
}

button {
  min-width: 100px;
  min-height: 32px;
  padding: 10px 21px;
  outline: none;
  border: none;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  color: #111;
  border: solid 1px black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar_links:hover {
  color: #a1a1a1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.point {
  cursor: pointer;
}

#navbar {
  float: right;
}

.navbar_item:nth-child(3) {
  margin-right: 305px;
}

@media screen and (max-width: 1300px) {
  .navbar {
    height: 60px;
  }
  .navbar_item:nth-child(1) {
    margin-left: 0px;
  }
  .navbar_btn {
    display: none;
  }
  .navbar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
    height: 65vh;
    margin: 0;
    padding-bottom: 30px;
    position: absolute;
    top: 100%;
    left: -100%;
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
    opacity: 1;
    z-index: -1;
    background: white;
    font-size: 1.6rem;
  }
  .navbar_menu.active {
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
    left: 50px;
    top: 100%;
    border-radius: 0%;
    z-index: 99;
    height: 65vh;
    font-size: 1.6rem;
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.58);
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.58);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #navbar_logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    height: 100%;
    padding: 0;
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #794EFF;
  }
  .navbar_item {
    width: 100%;
  }
  .navbar_links {
    text-align: center;
    width: 100%;
    display: table;
    margin: 0;
  }
  #mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    -webkit-transform: translate(5%, 15%);
            transform: translate(5%, 15%);
  }
  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
            transform: translateY(-8px) rotate(45deg);
  }
}

header {
  width: 100%;
  height: 40px;
}

header li {
  margin-right: 10px;
}

header .center li {
  line-height: 40px;
}

header .right li {
  margin-top: -30px;
  margin-right: 40px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  margin: 0 40px;
}

.s1 {
  margin-top: 90px;
}

.s1 .s1_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s1 .s1_container .part_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 56px;
  line-height: 62px;
  color: #252930;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.s1 .s1_container .part_2 {
  width: 50%;
}

.s1 .s1_container .part_2 img {
  width: 100%;
}

.s2_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 130px 150px 190px 150px;
}

.s2_container .part_1 {
  margin-left: -20px;
}

.s2_container .part_1 img {
  max-width: 500px;
  max-height: 515px;
}

.s2_container .part_2 {
  max-width: 580px;
  max-height: 315px;
  border: 1px solid #252930;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 150px;
  padding: 55px;
}

.s2_container .part_2 h3 {
  font-size: 19px;
  line-height: 27px;
  color: #252930;
}

.s2_container .part_2 .p {
  color: #252930;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 26px;
}

.s2_container .part_2 p {
  font-size: 20px;
  line-height: 23px;
  color: rgba(37, 41, 48, 0.8);
}

.s2_container .part_2 p:nth-child(4) {
  margin-bottom: 30px;
}

.s2_container .part_2 span {
  font-size: 20px;
  line-height: 23px;
  color: #252930;
  border-bottom: solid #FF5F00 3px;
  margin-top: 30px;
}

.s2_container .part_2 span .right {
  position: relative;
  top: -3px;
  left: 10px;
}

.s3 .part_1 h3 {
  font-size: 22px;
  line-height: 27px;
  color: #252930;
}

.s3 .part_1 .p {
  color: #252930;
  font-size: 36px;
  line-height: 40px;
}

.s3 .part_1 span {
  font-size: 20px;
  line-height: 23px;
  color: #252930;
  border-bottom: solid #FF5F00 3px;
}

.s3 .part_1 span #right {
  position: relative;
  top: -3px;
  left: 10px;
}

.s3 .part_1 .find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.s3 .part_2 {
  margin-top: 85px;
  margin-bottom: 100px;
}

.s3 .part_2 h1 {
  font-size: 36px;
  line-height: 40px;
}

.s3 .part_2 p {
  font-size: 16px;
  line-height: 18px;
  color: #F87200;
}

.s3 .part_2 p.yollow {
  padding: 30px 0;
}

.s3 .part_2 .card2,
.s3 .part_2 .card3 {
  width: 32%;
  margin-right: 20px;
}

.s3 .part_2 .card2 p.yellow,
.s3 .part_2 .card3 p.yellow {
  padding: 20px 0;
}

.s3 .part_2 .card2 p.yellow:nth-child(2),
.s3 .part_2 .card3 p.yellow:nth-child(2) {
  border-bottom: #8f8c8c solid 1px;
}

.s3 .part_2 .card2 span,
.s3 .part_2 .card3 span {
  margin-top: 40px;
}

.img {
  width: 100%;
}

li {
  list-style: none;
}

.s4 .part_1 {
  width: 30%;
  height: 335px;
  margin: 30px 0px;
}

.s4 .part_1 h1 {
  color: #252930;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 30px;
}

.s4 .part_1 span {
  font-size: 20px;
  line-height: 23px;
  color: #252930;
  border-bottom: solid #FF5F00 3px;
  padding-bottom: 20px;
}

.s4 .part_1 span #right {
  position: relative;
  top: -3px;
  left: 10px;
}

.s4 .part_2 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 335px;
  background: #E8E9EA;
  padding: 78px 68px;
}

.s4 .part_2 ul li:first-child {
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
}

.s4 .part_2 ul li:nth-child(2) {
  border-bottom: #111 solid 1px;
  margin: 28px 0;
  padding-bottom: 15px;
}

.s4 .part_2 ul li:nth-child(2) img {
  float: right;
  margin-top: 5px;
}

.s4 .part_2 ul li:nth-child(3) img {
  float: right;
  margin-top: 5px;
}

.s5 .s5-container {
  min-height: 820px;
  padding: 128px 157px;
}

.s5 .s5-container .part_2 {
  max-width: 563px;
  min-height: 290px;
  border: #111 solid 1px;
  padding: 65px;
}

.s5 .s5-container .part_2 p {
  margin: 19px 0 32px 0;
}

.s5 .s5-container .part_2 span {
  font-size: 16px;
  line-height: 16px;
  border-bottom: solid #FF5F00 3px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.s5 .s5-container .part_2 span #right {
  position: relative;
  top: -3px;
  left: 10px;
}

.s6 {
  background: #F87200;
}

.s6 .part_1 {
  width: 30%;
  margin: 142px 40px;
}

.s6 .part_1 h1 {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 70px;
}

.s6 .part_1 span {
  font-size: 16px;
  line-height: 16px;
  border-bottom: solid #080808 3px;
  margin-top: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.s6 .part_1 span #right {
  position: relative;
  top: -3px;
  left: 10px;
}

.s6 .part_2 {
  width: 70%;
}

.s6 .part_2 img {
  width: 100%;
}

.s7 .s7-container {
  margin-top: 100px;
}

.s7 .s7-container .part_1 {
  width: 65%;
}

.s7 .s7-container .part_1 .flex .part-1 {
  width: 50%;
}

.s7 .s7-container .part_1 .flex .part-1 p {
  margin-bottom: 10px;
}

.s7 .s7-container .part_1 .flex .part-1 p a {
  color: #F87200;
  text-decoration: none;
}

.s7 .s7-container .part_1 .flex .part-2 {
  width: 50%;
}

.s7 .s7-container .part_1 .flex .part-2 p {
  margin-bottom: 10px;
}

.s7 .s7-container .part_1 .flex .part-2 p a {
  color: #F87200;
  text-decoration: none;
}

.s7 .s7-container .part_1 h1 {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.s7 .s7-container .hr {
  max-width: 970px;
  height: 1px;
  background: #111;
  position: relative;
  top: 280px;
  left: -40px;
}

.s7 .s7-container .part_2 {
  width: 35%;
  height: 460px;
  background: #F87200;
  padding: 32px;
}

.s7 .s7-container .part_2 img {
  margin-top: 35px;
}

.s7 .s7-container .part_2 p {
  margin-top: 10px;
  width: 125px;
  border-bottom: #111 solid 1px;
  padding-bottom: 20px;
}

.s8 .s8-container {
  min-height: 310px;
  padding: 100px 0 30px 0;
}

.s8 .s8-container .part_1 {
  width: 40%;
}

.s8 .s8-container .part_1 .box1 p {
  margin-top: 50px;
}

.s8 .s8-container .part_1 .box2 {
  margin-left: 190px;
}

.s8 .s8-container .part_1 .box2 p {
  margin-bottom: 20px;
}

.s8 .s8-container .part_2 {
  width: 40%;
}

.s8 .s8-container .part_2 .box1 p {
  margin-bottom: 20px;
}

.s8 .s8-container .part_2 .box1 img {
  margin-right: 20px;
}

.s8 .s8-container .part_2 .box2 {
  margin-left: 130px;
}

.s8 .s8-container .part_2 .box2 .email {
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: #111 solid 1px;
  padding-bottom: 10px;
}

.s8 .s8-container .part_2 .box2 .email img {
  margin-left: 30px;
}

.s8 .s8-container .part_2 .box2 #finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.s8 .s8-container .part_2 .box2 #finish p {
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .s8,
  .s7,
  .s6,
  .s5,
  .s4,
  .s3,
  .s2 {
    display: none;
  }
  .s1 .part_1 p {
    font-size: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 576px) {
  header {
    display: none;
  }
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .s1 {
    margin: 90px 20px 0;
  }
  .s1 .s1_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -170px;
  }
  .s1 .s1_container .part_1 {
    max-width: 900px;
  }
  .s1 .s1_container .part_1 p {
    font-size: 20px;
    line-height: 25px;
  }
  .s1 .s1_container .part_2 {
    max-width: 576px;
  }
  .s1 .s1_container .part_2 img {
    width: 476px;
  }
}
/*# sourceMappingURL=style.css.map */