* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: all 0.5s;
    background: white;
}

.navbar {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar_container {
    display: flex;
    width: 100%;
    margin: 20px 40px 20px;
    justify-content: space-between;
}

#navbar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    padding-top: 10px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    // position: relative;
    // left: 300px;
    // width: 650px;
    justify-content: space-around;
}

.navbar_links {
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 1rem;
    height: 40px;
    font-weight: 400;
    font-size: 80%;
    line-height: 20px;
    transition: all 0.5s;
    padding-right: 10px;
}

.navbar_btn {
    // min-width: 100px;
    height: auto;
    position: relative;
    // width: 50%;
}

button {
    min-width: 100px;
    min-height: 32px;
    padding: 10px 21px;
    outline: none;
    border: none;
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #111;
    // box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border: solid 1px black;
    transition: all 0.5s;
    // &:hover {
    //     opacity: 0.8;
    //     transition: all 0.5s;
    // }
}

.navbar_links:hover {
    color: #a1a1a1;
    transition: all 0.3s ease;
}

.point {
    cursor: pointer;
}

#navbar {
    float: right;
}

.navbar_item:nth-child(3) {
    margin-right: 305px;
}

@media screen and (max-width: 1300px) {
    .navbar {
        height: 60px;
    }
    .navbar_item:nth-child(1) {
        margin-left: 0px;
    }
    .navbar_btn {
        display: none;
    }
    .navbar_container {
        display: flex;
        justify-content: space-between;
        max-height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        transition: all 0.3s ease;
        width: 100%;
        height: 65vh;
        margin: 0;
        padding-bottom: 30px;
        position: absolute;
        top: 100%;
        left: -100%;
        transform: translate(-50px);
        opacity: 1;
        z-index: -1;
        background: white;
        font-size: 1.6rem;
    }
    .navbar_menu.active {
        width: 100%;
        margin: 0;
        padding-bottom: 30px;
        left: 50px;
        top: 100%;
        border-radius: 0%;
        z-index: 99;
        height: 65vh;
        font-size: 1.6rem;
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.58);
        opacity: 1;
        transition: all 0.5s ease;
    }
    #navbar_logo {
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        padding: 0;
    }
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #794EFF;
    }
    .navbar_item {
        width: 100%;
    }
    .navbar_links {
        text-align: center;
        width: 100%;
        display: table;
        margin: 0;
    }
    #mobile-menu {
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 15%);
    }
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
    }
}

header {
    width: 100%;
    height: 40px;
    li {
        margin-right: 10px;
    }
    .center {
        li {
            line-height: 40px;
        }
    }
    .right li {
        margin-top: -30px;
        margin-right: 40px;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    list-style: none;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

main {
    margin: 0 40px;
}

.s1 {
    margin-top: 90px;
    .s1_container {
        display: flex;
        .part_1 {
            display: flex;
            font-size: 56px;
            line-height: 62px;
            color: #252930;
            width: 50%;
            justify-content: center;
            align-self: center;
        }
        .part_2 {
            max-width: 700px;
            img {
                width: 100%;
            }
        }
    }
}

.s2_container {
    display: flex;
    margin: 130px 150px 190px 150px;
    // display: none;
    .part_1 {
        margin-left: -20px;
        img {
            max-width: 500px;
            max-height: 515px;
        }
    }
    .part_2 {
        max-width: 580px;
        min-height: 315px;
        // background: #794EFF;
        border: 1px solid #252930;
        box-sizing: border-box;
        margin-top: 150px;
        padding: 55px;
        h3 {
            font-size: 19px;
            line-height: 27px;
            color: #252930;
        }
        .p {
            color: #252930;
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 26px;
        }
        p {
            font-size: 20px;
            line-height: 23px;
            color: rgba(37, 41, 48, 0.8);
            &:nth-child(4) {
                margin-bottom: 30px;
            }
        }
        span {
            font-size: 20px;
            line-height: 23px;
            color: #252930;
            border-bottom: solid #FF5F00 3px;
            margin-top: 30px;
            .right {
                position: relative;
                top: -3px;
                left: 10px;
            }
        }
    }
}

// section 3
.s3 {
    .part_1 {
        h3 {
            font-size: 22px;
            line-height: 27px;
            color: #252930;
        }
        .p {
            color: #252930;
            font-size: 36px;
            line-height: 40px;
        }
        span {
            font-size: 20px;
            line-height: 23px;
            color: #252930;
            border-bottom: solid #FF5F00 3px;
            #right {
                position: relative;
                top: -3px;
                left: 10px;
            }
        }
        .find {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    .part_2 {
        margin-top: 85px;
        h1 {
            font-size: 36px;
            line-height: 40px;
        }
        p {
            font-size: 16px;
            line-height: 18px;
            color: #F87200;
        }
        p.yollow {
            padding: 30px 0;
        }
        .card2,
        .card3 {
            width: 32%;
            margin-right: 20px;
            p.yellow {
                padding: 20px 0;
                &:nth-child(2) {
                    border-bottom: rgb(143, 140, 140) solid 1px;
                }
            }
            span {
                margin-top: 40px;
            }
        }
        margin-bottom: 100px;
    }
}

.img {
    width: 100%;
}

li {
    list-style: none;
}

.s4 {
    .part_1 {
        width: 30%;
        min-height: 335px;
        margin: 30px 0px;
        h1 {
            color: #252930;
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 30px;
        }
        span {
            font-size: 20px;
            line-height: 23px;
            color: #252930;
            border-bottom: solid #FF5F00 3px;
            padding-bottom: 20px;
            // margin: 40px;
            #right {
                position: relative;
                top: -3px;
                left: 10px;
            }
        }
    }
    .part_2 {
        justify-content: space-around;
        width: 70%;
        min-height: 335px;
        background: #E8E9EA;
        padding: 78px 68px;
        ul li {
            &:first-child {
                font-size: 24px;
                line-height: 26px;
                font-weight: bold;
            }
            &:nth-child(2) {
                border-bottom: #111 solid 1px;
                margin: 28px 0;
                padding-bottom: 15px;
                img {
                    float: right;
                    margin-top: 5px;
                }
            }
            &:nth-child(3) {
                img {
                    float: right;
                    margin-top: 5px;
                }
            }
        }
    }
}

// section 5
.s5 {
    .s5-container {
        max-height: 820px;
        padding: 128px 157px;
        .part_2 {
            max-width: 563px;
            height: 290px;
            border: #111 solid 1px;
            padding: 65px;
            p {
                margin: 19px 0 32px 0;
            }
            span {
                font-size: 16px;
                line-height: 16px;
                border-bottom: solid #FF5F00 3px;
                margin-top: 30px;
                padding-bottom: 20px;
                #right {
                    position: relative;
                    top: -3px;
                    left: 10px;
                }
            }
        }
    }
}

//section 6
.s6 {
    background: #F87200;
    .part_1 {
        width: 30%;
        margin: 142px 40px;
        h1 {
            font-size: 36px;
            line-height: 40px;
            padding-bottom: 70px;
        }
        span {
            font-size: 16px;
            line-height: 16px;
            border-bottom: solid #080808 3px;
            margin-top: 30px;
            font-weight: bold;
            padding-bottom: 20px;
            #right {
                position: relative;
                top: -3px;
                left: 10px;
            }
        }
    }
    .part_2 {
        width: 70%;
        img {
            width: 100%;
        }
    }
}

//section 7
.s7 {
    .s7-container {
        margin-top: 100px;
        .part_1 {
            width: 65%;
            .flex {
                .part-1 {
                    width: 50%;
                    p {
                        margin-bottom: 10px;
                        a {
                            color: #F87200;
                            text-decoration: none;
                        }
                    }
                }
                .part-2 {
                    width: 50%;
                    p {
                        margin-bottom: 10px;
                        a {
                            color: #F87200;
                            text-decoration: none;
                        }
                    }
                }
            }
            h1 {
                font-size: 36px;
                line-height: 40px;
                margin-bottom: 20px;
            }
        }
        .hr {
            max-width: 970px;
            height: 1px;
            background: #111;
            position: relative;
            top: 280px;
            left: -40px;
        }
        .part_2 {
            width: 35%;
            height: 460px;
            background: #F87200;
            padding: 32px;
            img {
                margin-top: 35px;
            }
            p {
                margin-top: 10px;
                width: 125px;
                border-bottom: #111 solid 1px;
                padding-bottom: 20px;
            }
        }
    }
}

.s8 {
    .s8-container {
        min-height: 310px;
        padding: 100px 0 30px 0;
        .part_1 {
            width: 40%;
            // justify-content: space-around;
            .box1 {
                p {
                    margin-top: 50px;
                }
            }
            .box2 {
                margin-left: 190px;
                p {
                    margin-bottom: 20px;
                }
            }
        }
        .part_2 {
            width: 40%;
            // justify-content: space-around;
            .box1 {
                p {
                    margin-bottom: 20px;
                }
                img {
                    margin-right: 20px;
                }
            }
            .box2 {
                margin-left: 130px;
                .email {
                    margin-top: 30px;
                    margin-bottom: 50px;
                    border-bottom: #111 solid 1px;
                    padding-bottom: 10px;
                    img {
                        margin-left: 30px;
                    }
                }
                #finish {
                    display: flex;
                    margin-left: 30px;
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    //media 1
    .s1 .part_1 p {
        font-size: 30px;
        line-height: 35px;
    }
    //media 2
    .s2_container {
        margin: 50px;
        .part_2 {
            padding: 35px;
        }
    }
    // media 3
    // media 4
    .s4-container {
        .part_1 {
            margin-top: 70px;
            h1 {
                font-size: 25px;
            }
        }
        .part_2 {
            padding: 80px 40px;
            min-height: 200px;
        }
    }
    //media 5
    .s5 .s5-container {
        margin-top: 30px;
        padding: 0px;
    }
    // media 6
    .s6 {
        margin: 40px 0 0 0;
        .part_1 {
            margin: 70px 40px;
            h1 {
                font-size: 25px;
                padding-bottom: 20px;
            }
        }
    }
    // media 7
}

@media screen and (max-width:390px) {
    header {
        display: none;
    }
    main {
        margin: 0 20px;
    }
    .flex {
        flex-wrap: wrap;
    }
    .s1 {
        margin: 90px 0px 0;
        .s1_container {
            // width: ;
            flex-direction: column;
            align-items: center;
            // margin-left: -70px;
            .part_1 {
                width: 250px;
                p {
                    font-size: 20px;
                    line-height: 25px;
                }
                #ef {
                    width: 100%;
                }
            }
            .part_2 {
                max-width: 576px;
            }
        }
    }
    //media 2
    .s2_container {
        flex-wrap: wrap;
        .part_1 {
            img {
                width: 100%;
            }
        }
        .part_2 {
            margin-top: 40px;
        }
    }
    // media 3
    .s3_container {
        .part_2 {
            margin-top: 40px;
            flex-direction: column;
            .card2,
            .card3 {
                width: 350px;
            }
        }
    }
    .br {
        height: 400px;
    }
    //media 4
    .s4-container {
        flex-direction: column;
        .part_1 {
            width: 100%;
            margin: 0;
            text-align: center;
            height: 250px;
        }
        .part_2 {
            width: 350px;
            padding: 40px 20px;
            flex-direction: column;
        }
    }
    // media 5
    .s5-container .part_1 {
        margin-bottom: 40px;
        img {
            width: 100%;
        }
    }
    // media 6
    .s6 {
        .part_1 {
            width: 100%;
            text-align: center;
            h1 {
                font-size: 20px;
            }
        }
        .part_2 {
            width: 100%;
        }
    }
    // media 7
    .s7 .s7-container {
        flex-direction: column;
        margin-top: 50px;
        .part_1 {
            width: 350px;
            .part-1,
            .part-2 p a {
                font-size: 13px;
            }
        }
        .part_2 {
            width: 350px;
        }
    }
    .hr {
        display: none;
    }
    // media 8
    .s8 .s8-container {
        flex-direction: column;
        padding-top: 30px;
        .part_1 {
            flex-wrap: nowrap;
            .box2 {
                margin-left: 100px;
            }
        }
        .part_2 {
            .box1 {
                display: flex;
            }
            .box2 {
                margin-left: 0;
                width: 350px;
                .email {
                    margin: 0;
                    width: 350px;
                }
                #finish {
                    display: none;
                }
            }
        }
    }
}